.listBtn {
  text-decoration: none;
  width: 100%;
  color: black;
}

.iconPage {
  padding-right: 5px;
}

img {
  width: 80%;
  height: auto;
  margin: 5px;
}
.logout {
  background-color: #a2d9f9;
  text-decoration: none;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  color: white;
}
