.checkin_form_option {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header {
  color: rgb(255, 255, 255);
  background-color: #2666cf;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  text-align: left;
  margin: 0;
  padding: 0;
  position: relative;
}

#header h3 {
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 50px;
}

#poc-cam {
  height: 90%;
}

#event-name-label,
#poc-name-label {
  /* text-align: left; */
  /* background-color: aqua; */
  /* padding-left: 100px; */
  margin: 10px;
  /* padding: 10px 10px 10px 100px; */
  font-size: 16px;
  font-weight: bold;
}

#poc-name-value,
#event-name-value {
  background-color: rgb(237, 242, 255);
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

#check-in {
  margin: 50px;
}

.check_in_info {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: auto;
  /* max-width: 100%; */
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 30px 30px 10px 30px;
}

#check-in-info-div {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  /* border: solid;
      border-color: aqua; */
  width: 90%;
  /* height: 90%; */
}

#check-in-info-form {
  height: 90%;
  /* border: solid;
      border-color: aqua; */
}

#check-in-info-form input {
  width: 90%;
  border: 1px solid rgb(234, 234, 234);
  outline: none;
  padding: 10px;
}

#check-in-note {
  height: 45%;
  width: 90%;
  border: 1px solid rgb(234, 234, 234);
  outline: none;
  padding: 10px;
}

#check-in-info button {
}

#check-in-table-label {
  /* background-color: aqua; */
  text-align: left;
  padding-left: 10px;
}

#check-in-list {
  padding: 10px;
}

#check-in-table {
  width: 90%;
  margin: auto;
}

#check-in-TableHead {
  background-color: rgb(229, 236, 255);
}

#enable_image {
  width: 10px;
}

@media screen and (max-width: 900px) {
  .camera_01 {
    display: none;
  }
}
