#navigation-list a{
    text-decoration: none;
    width: 100%;
    color: black;
}
img {
    width: 80%;
    height: auto;
    margin: 5px;
}
.logout {
    background-color: brown;
    border-radius: 20px;
}