.header{
    background-color: #A2D9F9;
    display: flex;
    align-items: stretch;
    position: fixed;  
    width: 100%;    
    top: 0;  
    z-index: 10;
}

.header h3{
    margin: 0;
    padding-left: 50px;
    flex-grow: 8;
margin-top: auto;
margin-bottom:auto;
text-align: left;
color: white;
font-size: 24px;
font-family: "Roboto","Helvetica","Arial",sans-serif;
font-weight: 500;
}

.header div{
    flex-grow: 2;
}