#header{
    background-color: rgb(175, 0, 61);
    height: 8vh;
    display: flex;
}

#header h3{
    display: block;
    /* background-color:white; */
}

#header div{
    /* background-color:antiquewhite; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 0px;
}

#header button{
    margin: 10px;
    cursor: pointer;
    background-color: rgb(250, 138, 177);
    border: 0.5px solid  rgb(250, 138, 177);
    border-radius:5px;
    padding: 5px 10px 5px 10px;
}

#header button a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#container{
    height: 92vh;
}

#search-result{
    border-left: 1px solid #ccc;
}

#search-input-box, #search-result-box{
    position: relative;
    height: 100%;
    /* background-color:cornsilk; */
}

#search-input-box-1, #search-result-box-1{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 50%;
    width: 80%;
    /* background-color:whitesmoke; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

#search-input-box-1-1{
    height: 90%;
    position: relative;
}

#search-event-form{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color:white;
    /* height: 100px; */
    width: 90%;
}

#search-input-box-1-1 button{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
}

#search-result-box-1-1{
    position: relative;
    background-color:white;
    height: 100%;
}

#search-result-box-1-1-1{
    position: absolute;
    height: fit-content;
    width: 90%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color:white
}

#search-result-box-1 a{
    background-color: white;
    display: block;
    text-decoration: none;
    border: solid 1px #ccc;
    border-radius:5px;
}